<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">数据报表</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">选择报表类型</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form">
                            <div class="form-inline">
                                <label>请选择报表类型：</label>
                                <select id="ReportTypeSelect" class="form-control">
                                    <option value="daily">每日报表</option>
                                    <option value="month">月度报表</option>
                                </select>
                                <label>请选择报表时间：</label>
                                <input class="form-control" type="text" id="datetimepicker" />
                                <button type="button" class="btn btn-primary form-control" onclick="loadReportBySelect()">查询报表</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">报表数据</div>
            <div class="panel-body">
                <div class="row">
                    <div id="reportArea" class="col-lg-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
##弹出的模态提示框
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            ##                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" id="myModalContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关 闭</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#datetimepicker').datetimepicker({
        format:'yyyy-mm-dd',
        startView:2,
        minView:2,
        maxView:4,
        autoclose:true
    });
    function loadReportBySelect() {
        var reportType = $("#ReportTypeSelect").val();
        var reportTime = $("#datetimepicker").val();
        if (reportTime == "" || reportTime == null || reportType == "" || reportType == null){
            $("#myModalLabel").html("参数不完整");
            $("#myModalContent").html("未选择完整的条件");
            $('#myModal').modal('show');
            return;
        }
        $("#reportArea").load('/report/daily',
                {
                    reportType:reportType,
                    reportTime:reportTime
                });
    }
</script>