<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">定时任务</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">测试任务</div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>任务名：moveFinishTaskInstanceToHistoryTable</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary form-control" type="button" style="width: 100px">手动执行</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>