<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">添加任务</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">编辑任务</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-5">
                        <form role="form">
                            <div class="form-group input-group col-lg-12">
                                <label>项目名称</label>
                                <input id="projectName" class="form-control" placeholder="Project Name"/>
                            </div>
                            <div class="form-group input-group col-lg-12">
                                <label>媒体名称</label>
                                <input id="mediaName" class="form-control" placeholder="Media Name">
                            </div>
                            <div class="form-group input-group col-lg-12">
                                <label>任务分组</label>
                                <input id="mgroup" class="form-control" placeholder="group">
                            </div>
                            <div class="form-group input-group col-lg-12">
                                <label>用户名</label>
                                <input id="username" class="form-control" placeholder="username">
                            </div>
                            <div class="form-group input-group col-lg-12">
                                <label>密码</label>
                                <input id="password" class="form-control" placeholder="password">
                            </div>
                            <div class="form-group input-group col-lg-12">
                                <label>执行次数</label>
                                <input id="runtimes" class="form-control" placeholder="runtimes">
                            </div>
                            <div class="form-group input-group col-lg-12">
                                <label>评论类型</label>
                                <select id="ArticleTypeSelect" class="form-control">
                                    <option value="null" selected = selected>无须评论</option>
                                    #foreach(${art} in ${artList})
                                        <option value="${art.id}">${art.articleTypeName}</option>
                                    #end
                                </select>
                            </div>
                            <div class="form-group input-group col-lg-12">
                                <label>是否需要过滤ip</label>
                                <select id="ipFilterType" class="form-control">
                                    <option value="true" selected = selected>需要过滤</option>
                                    <option value="false">无须过滤</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <form role="form">
                            <div class="form-group input-group col-lg-12">
                                <label>位置</label>
                                <div class="input-group">
                                    <input id="position" class="form-control" placeholder="position">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" onclick="addPosition()">
                                            添 加
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group input-group col-lg-12">
                                <label>位置集合</label>
                                <textarea id="positions" class="form-control" style="resize: none" readonly="readonly"/>
                            </div>
                            <div class="form-group input-group col-lg-12">
                                <label>动作</label>
                                <div class="input-group">
                                    <input id="action" class="form-control" placeholder="action">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" onclick="addAction()" >添 加</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group input-group col-lg-12">
                                <label>动作集合</label>
                                <textarea id="actions" class="form-control" style="resize: none" readonly="readonly"/>
                            </div>
                            <div class="form-group input-group col-lg-12">
                                <label>循环类型</label>
                                <select id="loopTypeSelect" class="form-control">
                                    <option value="1">每日循环</option>
                                    <option value="2">不循环</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="text-align: right">
                <div class="form-inline">
                    <button id="btnConfirmToUploadTask" type="button" class="btn btn-primary form-control" onclick="addtaskdo()" >提交任务</button>
                    <button type="button" class="btn btn-primary form-control" onclick="clearAll()">清除数据</button>
                </div>
            </div>
        </div>
    </div>
</div>
##弹出的模态提示框
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
##                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" id="myModalContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关 闭</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function addPosition() {
        var p = $("#position").val();
        if(p == ""){
            return;
        }
        var oldPosition = $("#positions").val();
        oldPosition = oldPosition+p+";";
        $("#positions").val(oldPosition);
        $("#position").val("");
    }
    function addAction() {
        var p = $("#action").val();
        if(p == ""){
            return;
        }
        var oldPosition = $("#actions").val();
        oldPosition = oldPosition+p+";";
        $("#actions").val(oldPosition);
        $("#action").val("");
    }
    function addtaskdo() {
        //加载动画开启
        $("#btnConfirmToUploadTask").button('loading');
        var mediaName = $("#mediaName").val();
        var username = $("#username").val();
        var password = $("#password").val();
        var positions = $("#positions").val();
        var actions = $("#actions").val();
        var runtimes = $("#runtimes").val();
        var mgroup = $("#mgroup").val();
        var projectName = $("#projectName").val();
        var loopType = $("#loopTypeSelect").val();
        var artType = $("#ArticleTypeSelect").val();
        var ipFilterType = $("#ipFilterType").val();
        if(mediaName == ""||username==""||password==""||positions==""||actions==""||runtimes==""||mgroup==""||projectName==""){
            $("#myModalLabel").html("参数错误");
            $("#myModalContent").html("参数不完整，请检查参数完整性");
            $('#myModal').modal('show');
            $("#btnConfirmToUploadTask").button('reset');
            return;
        }
        $.post("/data/addtask.do",
                {
                    mediaName:mediaName,
                    username:username,
                    password:password,
                    positions:positions,
                    actions:actions,
                    runtimes:runtimes,
                    mgroup:mgroup,
                    projectName:projectName,
                    looptype:loopType,
                    artType:artType,
                    ipFilter:ipFilterType
                },function (data) {
                    $("#btnConfirmToUploadTask").button('reset');
                    $("#myModalLabel").html("处理结果");
                    $("#myModalContent").html(data);
                    $('#myModal').modal('show');
                });
    }
    function clearAll() {
        $("#mediaName").val("");
        $("#username").val("");
        $("#password").val("");
        $("#runtimes").val("");
        $("#position").val("");
        $("#action").val("");
        $("#mgroup").val("");
        $("#positions").val("");
        $("#actions").val("");
        $("#projectName").val("");
    }
</script>
##
##<body>
##    <br/>
##    <div>
##        <input id="runtimes" type="text" class="easyui-numberbox" style="width:30%;" label="执行次数:" value="100" data-options="min:0,precision:0"/>
##        <input id="username" class="easyui-textbox" style="width:30%;" label="用户名:" />
##        <input id="password" type="password" class="easyui-textbox" style="width:30%;" label="密码:" />
##    </div>
##    <br/>
##    <div>
##        <input id="projectName" class="easyui-textbox" style="width:30%;" label="项目名称:" />
##        <input id="mediaName" class="easyui-textbox" style="width:30%;" label="媒体名称:" />
##        <input id="mgroup" class="easyui-textbox" style="width:30%;" label="模拟器分组:" />
##    </div>
##    <br />
##    <div>
##        <input id="position" class="easyui-textbox" style="width:30%;" label="位置:" />
##        <a id="addPosition" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',width:70" onclick="addPosition()">增加</a>
##    </div>
##    <br/>
##    <div>
##        <textarea readonly="readonly" id="positions" style="resize: none;height: 100px;width:30%;" label="positions"></textarea>
##    </div>
##    <br/>
##    <div>
##        <input id="action" class="easyui-textbox" style="width:30%;" label="动作:" />
##        <a id="addAction" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',width:70" onclick="addAction()">增加</a>
##    </div>
##    <br/>
##    <div>
##        <textarea readonly="readonly" id="actions" style="resize: none;height: 100px;width: 30%;" label="actions"></textarea>
##    </div>
##    <br/>
##    <a id="addTask" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',width:90" onclick="addtaskdo()">提交任务</a>
##</body>

